/* import the Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
}

html, body {
   font-family: Azeret Mono;
   width: 100vw;
   scroll-behavior: smooth;
}

.btn {
   padding: 0.5rem;
   background-color: white;
   font-family: inherit;
   border: 1px solid gray;
   font-weight: 600;
   font-size: 1rem;
   border-radius: 0.2rem;
   -webkit-border-radius: 0.2rem;
   -moz-border-radius: 0.2rem;
   -ms-border-radius: 0.2rem;
   -o-border-radius: 0.2rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: all 0.25s ease;
   -webkit-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   -ms-transition: all 0.25s ease;
   -o-transition: all 0.25s ease;
}

.btn:hover {
   background-color: black;
   color: white;
}

.title {
   font-family: inherit;
   font-size: 2rem;
   font-weight: 700;
}

.subtitle {
   color: rgb(71, 71, 71);
}

.description {
   color: rgb(91, 91, 91);
}

.section {
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 3rem;
   /* border: 1px solid green; */
   align-items: center;
   justify-content: center;
   gap: 2rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

/* HEADER SECTION */
#header {
   display: flex;
   flex-direction: column;
   width: 100%;
}
/* nav bar */
#header nav {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   /* border: 1px solid black; */
   box-shadow: 5px 5px 12px gray;
}

header nav > .nav-container {
   width: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

/* hero section */
#header #hero-section {
   width: 100%;
   background-image: url(../assets/Hero-bg.png);
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}

#hero-section .hero-container {
   width: 90%;
   max-width: 1000px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   flex-direction: column;
}

#hero-section .hero-container .hero-description {
   color: rgb(91, 91, 91);
}

.btn-hero {
   background-color: black;
   color: white;
   border: 1px solid black;
}

/* main */
#main {
   width: 100%;
   padding: 1rem;
   display: flex;
   align-items: center;
   gap: 3rem;
   flex-direction: column;
   margin: 3rem 0 0 0;
}



/* 1st section */
.section > .description {
   text-align: center;
}

.section-1st {
   background-color: rgb(244, 244, 244);
}

.article {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   padding: 1rem;
   background-color: white;
   box-shadow: 3px 3px 10px gray;
}

.article .article-content {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   gap: 1rem;
}

/* section 2 - video section */
.video-container {
   width: 100%;
   padding: 2rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   border: 1px solid gray;
}

.video-container .video {
   width: 100%;
   height: 450px;
}

.card-container {
   width: 100%;
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: row;
   align-items: stretch;
   justify-content: space-between;
   gap: 1rem;
   overflow: auto;
   padding: 0 0 1rem 0;
}

.card-container .card {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   min-width: 280px;
   max-width: 33%;
   padding: 1rem;
   gap: 1.5rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.card-html {
   background-color: rgb(255, 238, 180);
}

.card-css {
   background-color: rgb(202, 235, 255);
}

.card-js {
   background-color: rgb(255, 249, 214);
}

.btn-card {
   font-size: 1.1rem;
   color: black;
   font-weight: 700;
}

.section-form {
   background-image: url(../assets/handshake.jpg);
   background-size: cover;
   background-position: center;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   min-height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.section-form form {
   display: flex;
   width: 100%;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   
}

.title-feedback {
   color: white;
}

.description-feedback {
   color: rgb(193, 193, 193);
}

input {
   padding: 0.8rem;
   font-family: inherit;
   font-size: 1rem;
   border-radius: 0.5rem;
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   -ms-border-radius: 0.5rem;
   -o-border-radius: 0.5rem;
}

input[type="text"] {
   flex: 1;
   max-width: 500px;
}

input[type="submit"] {
   text-transform: capitalize;
   cursor: pointer;
}


footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 0.3rem; */
   background-color: rgb(217, 217, 217);
}

.footer-container {
   width: 90%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 1rem;
}



.footer-container .social-media {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

